* {
    font-family: system-ui, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.gm-fullscreen-control, .gm-svpc, .gm-style-mtc-bbw {
    display: none;
}

#UserPill {
    position: absolute;
    bottom: 30px;
    left: 5px;
    background-color: white;
    border-radius: 100px;
    z-index: 999999999;
}

    #UserPill img {
        height: 60px;
        border-radius: 100px;
        margin: 2px;
    }

    #UserPill .FlexWrapper {
        display: flex;
    }

    #UserPill .UserWrapper {
        margin-left: 8px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2px;
    }

    #UserPill .Username {
        color: black;
        font-weight: bold;
    }

    #UserPill .ActivityCount {
        color: #444;
        font-size: 0.6rem;
    }
